<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Track Insights</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <!-- Impact font via Google Fonts -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Impact:wght@400&display=swap');
      .font-impact {
        font-family: 'Impact', Impact, Charcoal, sans-serif;
        font-style: italic;
      }
    </style>
  </head>
  <body class="min-h-screen bg-base-200 text-base-content">
    {% block content %}{% endblock %}

    <footer>
        <p>© 2025 Track App</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
